<ion-header>
    <ion-toolbar size="small">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>About</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            Allow users to communicate with and control connected accessories in their home using your app. With the HomeKit framework, you can provide a way to configure accessories and create actions to control them
        </ion-card-content>
    </ion-card>
</ion-content>