.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid purple;
}

// ion-icon {
//   font-size: 25px;
// }

.ion-icon {
  color: purple;
}

// .ion-icon-header {
//   color: white;
// }

// ion-toolbar {
//   color: white;
//   --background: #e0184d;
// }

// ion-label {
//   color: purple;
// }

// .header-toolbar {
//     --background: #e0184d;

// }
