ion-icon {
  font-size: 25px;
}

ion-icon {
  color: white;
}

ion-toolbar {
  color: purple;
}

ion-label {
  color: purple;
}

.ion-icon-header {
  color: white;
}
.item-data {
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  color: purple;
}
.item-data_temp {
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  color: purple;
  text-align: right;
}
