<ion-header>
    <ion-toolbar size="small">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <!-- <ion-button [routerLink]="['/tabs/home']">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button> -->
        </ion-buttons>

        <ion-title>News Feed</ion-title>

        <ion-buttons slot="end">

            <ion-button>
                <ion-icon name="help-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let article of articles">
        <ion-img src="{{article.urlToImage}}"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>{{article.title}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <p>
                {{article.description}}
            </p>
            <ion-button ion-button fill="outline" href="{{article.url}}" large>Read full article</ion-button>

        </ion-card-content>
    </ion-card>
</ion-content>